/*-------*\
BEGIN Header
\*-------*/

header {
  background: $accent-color;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

header .logo {
  float: left;
  font-family: 'Open Sans', sans-serif;
  padding: 13px 0;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}

header .logo .fa {
  font-size: 16px;
  position: relative;
  top: -1px;
  margin-right: 7px;
}

nav.mobile-active {
  left: 0;
  top: 63px;
}

header nav {
  float: right;
}

header nav ul {
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  float: left;
}

header nav ul li a {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  transition: 200ms;
}

header nav ul li a:hover,
header nav ul li a.active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
}

header .toggle-menu {
  display: none;
}



/*! * Hamburgers * @description Tasty CSS-animated hamburgers * @author Jonathan Suh @jonsuh * @site https: //jonsuh.com/hamburgers
* @link https: //github.com/jonsuh/hamburgers
*/


@media all and (min-width: 768px) {
  button.hamburger.hamburger--spin {
    display: none;
  }
}

@media all and (max-width: 767px) {

  .hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    float: right; 
  }

  .hamburger:hover {
    opacity: .7
  }

  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
  }

  .hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
  }

  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    border-radius: 4px;
    background-color: white;
  }

  .hamburger-inner:after,
  .hamburger-inner:before {
    display: block;
    content: ''
  }

  .hamburger-inner:before {
    top: -10px
  }

  .hamburger-inner:after {
    bottom: -10px
  }


  .hamburger--spin .hamburger-inner {
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: .3s
  }

  .hamburger--spin .hamburger-inner:before {
    transition: top .1s .34s ease-in, opacity .1s ease-in
  }

  .hamburger--spin .hamburger-inner:after {
    transition: bottom .1s .34s ease-in, -webkit-transform .3s cubic-bezier(.55, .055, .675, .19);
    transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19);
    transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19), -webkit-transform .3s cubic-bezier(.55, .055, .675, .19)
  }

  .hamburger--spin.is-active .hamburger-inner {
    transition-delay: .14s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg)
  }

  .hamburger--spin.is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s ease-out, opacity .1s .14s ease-out;
    opacity: 0
  }

  .hamburger--spin.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom .1s ease-out, -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
    transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1);
    transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
  }

  .hamburger--spin-r .hamburger-inner {
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: .3s
  }

  .hamburger--spin-r .hamburger-inner:before {
    transition: top .1s .34s ease-in, opacity .1s ease-in
  }

  .hamburger--spin-r .hamburger-inner:after {
    transition: bottom .1s .34s ease-in, -webkit-transform .3s cubic-bezier(.55, .055, .675, .19);
    transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19);
    transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19), -webkit-transform .3s cubic-bezier(.55, .055, .675, .19)
  }

  .hamburger--spin-r.is-active .hamburger-inner {
    transition-delay: .14s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg)
  }

  .hamburger--spin-r.is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s ease-out, opacity .1s .14s ease-out;
    opacity: 0
  }

  .hamburger--spin-r.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom .1s ease-out, -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
    transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1);
    transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
  }
}



/*-------*\
END Header
\*-------*/






