
.splash {
  background: url('../images/woman-jogging.jpg');
  height: 100vh;
  overflow: hidden;
  position: relative;

    & a {
    display: block;
    padding: 20px 5px;
    text-shadow: 1px 1px #eee;
    font-size: 72px;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 72px;
    font-weight: 900;
    color: #555;
    }
}


/*.splash:after{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(255,255,255,0.08);
    transform: rotate(30deg);
    animation: spin 60s infinite linear;
}*/


/*.splash:before{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(255,255,255,0.08);
    transform: rotate(150deg);
    animation: spin2 50s infinite linear;
}*/

.splash .container {
  position: relative;
  top: 30%;
  /* transform: translateY(-50%); */
  z-index: 5;
  float: right;
  width: auto;
}

.splash h2 {
  margin-bottom: 40px;
}


@media (max-width: 800px) {

  .splash .container {
    position: relative;
    top: 0;
    float: none;
    transform: none;
  }

  .splash h1 {
    font-size: 40px;
    display: inline-block;
  }
}