/* Animations */
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
/*@keyframes spin {
  0%   { transform: rotate(30deg); }
  100% { transform: rotate(210deg); }
}*/
@keyframes spin2 {
  0% {
    transform: rotate(150deg); }
  100% {
    transform: rotate(330deg); } }
/* End Animations */
/* Resets, Clears & Defaults */
*,
*:after,
*:before {
  box-sizing: border-box; }

body,
input,
textarea {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #555;
  font-weight: 300; }

input:focus,
textarea:focus {
  outline: 0; }

h1,
h2,
h3,
p {
  margin: 0 0 20px 0;
  position: relative;
  z-index: 6; }

h1 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 600; }

h2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 300; }

h3 {
  font-size: 20px;
  font-weight: 600; }

a {
  color: #999;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  max-width: 100%; }

::selection {
  background: #eee;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #eee;
  /* Gecko Browsers */ }

/* End Resets, Clears & Defaults */
header {
  background: #84DCC6;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200; }

header .logo {
  float: left;
  font-family: 'Open Sans', sans-serif;
  padding: 13px 0;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  margin: 0; }

header .logo .fa {
  font-size: 16px;
  position: relative;
  top: -1px;
  margin-right: 7px; }

header nav {
  float: right; }

header nav ul {
  padding: 0;
  margin: 0; }

header nav ul li {
  display: inline-block;
  float: left; }

header nav ul li a {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  transition: 200ms; }

header nav ul li a:hover,
header nav ul li a.active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1); }

header .toggle-menu {
  display: none; }

.splash {
  background: url("../images/woman-jogging.jpg");
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .splash h1 {
    color: white; }

/*.splash:after{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(255,255,255,0.08);
    transform: rotate(30deg);
    animation: spin 60s infinite linear;
}*/
/*.splash:before{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(255,255,255,0.08);
    transform: rotate(150deg);
    animation: spin2 50s infinite linear;
}*/
.splash .container {
  position: relative;
  top: 48%;
  transform: translateY(-50%);
  z-index: 5; }

.splash h2 {
  margin-bottom: 40px; }

/*--------*\
Begin contact-section
\*--------*/
.contact-section {
  text-align: center; }
  .contact-section .fa {
    display: inline-block;
    font-size: 50px; }
  .contact-section .card {
    float: left;
    width: 31%;
    box-shadow: 0 0 5px #ccc;
    margin: 0 1%;
    min-height: 394px;
    min-width: 240px; }
  .contact-section .card-head {
    padding: 20px;
    background: #84DCC6;
    border-bottom: 2px solid;
    padding-bottom: 0; }
  .contact-section .rest-of-card {
    padding: 20px;
    text-align: left; }
  .contact-section p {
    margin-bottom: 0; }
  .contact-section h3 {
    margin: 5px 0; }

.hour-details .massage-hours {
  margin-top: 20px; }

.contact-us .directions, .contact-us .email-us {
  border-top: 1px solid #eee; }
.contact-us .rest-of-card .fa {
  float: left;
  position: relative;
  top: 14px;
  display: inline-block;
  font-size: 24px; }
.contact-us a {
  display: inline-block;
  padding: 10px 30px; }
  .contact-us a:hover {
    font-weight: bold;
    text-decoration: none; }
.contact-us button {
  border: none;
  background: none;
  padding: 10px 20px;
  color: #999; }
  .contact-us button:hover {
    font-weight: bold; }

.email-form {
  display: none; }
  .email-form input {
    float: left;
    width: 100%;
    margin: 5px auto;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #ccc; }
  .email-form textarea {
    height: 128px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding-left: 15px; }
  .email-form input[type="submit"] {
    background: #84DCC6;
    color: white; }

.schedule-appointment p {
  float: left; }
.schedule-appointment .btn {
  color: #555;
  border: 1px solid #555;
  margin: 36px auto;
  text-align: center;
  width: 265px;
  height: 60px; }
  .schedule-appointment .btn:hover {
    background: #84DCC6;
    box-shadow: 0 0 20px #84DCC6;
    color: white;
    border: 1px solid #84DCC6; }

@media (max-width: 800px) {
  .contact-section .card {
    display: block;
    float: none;
    width: 100%;
    margin: 10px auto;
    clear: both; } }
.about-section.greybg {
  background: #f6f6f6;
  padding-top: 40px; }

.about-section {
  position: relative;
  overflow: hidden; }
  .about-section .about-us-blurb {
    width: 100%; }

.about-section img:not(.headshot) {
  position: absolute;
  top: 250px;
  right: 55%; }

.about-section:nth-of-type(even) img:not(.headshot) {
  right: auto;
  left: 55%; }

.about-section > div > div {
  width: 55%;
  float: right; }

.about-section > div > div > p {
  margin-bottom: 40px; }

.about-section:nth-of-type(even) > div > div {
  float: left; }

.about-section ul {
  margin: 0;
  padding: 0; }

.about-section ul li {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee; }

.about-section ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0; }

.about-section ul li h3 {
  margin: 0 0 5px 0; }

.about-section ul li p:last-child {
  margin: 0; }

.about-section ul li p {
  overflow: hidden; }

.about-section img.headshot {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  margin-top: 7px;
  border-radius: 50px;
  float: left;
  display: inline-block; }

.about-section .more {
  display: none; }

.js-more-expand {
  margin-left: 8px;
  color: blue;
  cursor: pointer; }
  .js-more-expand i {
    margin-left: 5px; }

.videos {
  background-color: #555; }

.video-holder {
  float: left;
  width: 31%;
  margin: 20px 1%;
  transition: all ease .3s; }
  .video-holder h4 {
    color: white;
    margin: 0; }

.video-holder:hover {
  box-shadow: 0px 20px 25px #333; }

.btn-holder {
  display: inline-block;
  width: 100%;
  margin: 40px 0; }
  .btn-holder .btn {
    display: block;
    clear: both;
    width: 300px;
    text-align: center;
    margin: auto; }

.plyr__captions,
.plyr__controls {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-align: center; }

@-webkit-keyframes plyr-progress {
  to {
    background-position: 40px 0; } }
@keyframes plyr-progress {
  to {
    background-position: 40px 0; } }
.plyr {
  position: relative;
  max-width: 100%;
  min-width: 290px; }

.plyr,
.plyr *,
.plyr::after,
.plyr::before {
  box-sizing: border-box; }

.plyr a,
.plyr button,
.plyr input,
.plyr label {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.plyr__sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.plyr__video-wrapper {
  position: relative; }

.plyr audio,
.plyr video {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.plyr video::-webkit-media-text-track-container {
  display: none; }

.plyr__video-embed {
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background: #000; }

.plyr__video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.plyr__video-embed > div {
  position: relative;
  padding-bottom: 200%;
  -webkit-transform: translateY(-35.95%);
  transform: translateY(-35.95%); }

.plyr__video-embed.plyr iframe {
  pointer-events: none; }

.plyr__captions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px 30px;
  color: #fff;
  font-size: 20px; }

.plyr__captions span {
  border-radius: 2px;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.9); }

.plyr__captions span:empty {
  display: none; }

@media (min-width: 768px) {
  .plyr__captions {
    font-size: 24px; } }
.plyr--captions-active .plyr__captions {
  display: block; }

.plyr--fullscreen-active .plyr__captions {
  font-size: 32px; }

.plyr__controls {
  position: relative;
  padding: 10px;
  background: #fff;
  line-height: 1;
  box-shadow: 0 1px 1px rgba(52, 63, 74, 0.2); }

.plyr__controls::after {
  content: '';
  display: table;
  clear: both; }

.plyr__controls--right {
  display: block;
  margin: 10px auto 0; }

@media (min-width: 560px) {
  .plyr__controls--left {
    float: left; }

  .plyr__controls--right {
    float: right;
    margin-top: 0; } }
.plyr__controls button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
  padding: 5px 10px;
  overflow: hidden;
  border: 0;
  background: 0 0;
  border-radius: 3px;
  cursor: pointer;
  color: #6B7D86;
  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease; }

.plyr__controls button svg {
  width: 18px;
  height: 18px;
  display: block;
  fill: currentColor;
  transition: fill 0.3s ease; }

.plyr__controls button.tab-focus:focus,
.plyr__controls button:hover {
  background: #3498DB;
  color: #fff; }

.plyr__controls .plyr__time,
.plyr__tooltip {
  color: #6B7D86;
  font-size: 14px;
  font-weight: 600; }

.plyr__controls button:focus {
  outline: 0; }

.plyr__controls .icon--captions-on,
.plyr__controls .icon--exit-fullscreen,
.plyr__controls .icon--muted {
  display: none; }

.plyr__controls .plyr__time {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; }

.plyr__controls .plyr__time + .plyr__time {
  display: none; }

@media (min-width: 560px) {
  .plyr__controls .plyr__time + .plyr__time {
    display: inline-block; } }
.plyr__controls .plyr__time + .plyr__time::before {
  content: '\2044';
  margin-right: 10px; }

.plyr__tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  bottom: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.1), 0 0 0 1px rgba(64, 64, 64, 0.1);
  border-radius: 3px;
  line-height: 1.5;
  -webkit-transform: translate(-50%, 10px) scale(0.8);
  transform: translate(-50%, 10px) scale(0.8);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transition: opacity .2s .1s ease, visibility .3s ease, -webkit-transform .2s .1s ease;
  transition: transform .2s .1s ease, opacity .2s .1s ease, visibility .3s ease;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease, visibility 0.3s ease, -webkit-transform 0.2s 0.1s ease; }

.plyr__tooltip::after,
.plyr__tooltip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.plyr__tooltip::after {
  bottom: -8px;
  border-right: 7px solid transparent;
  border-top: 7px solid rgba(64, 64, 64, 0.2);
  border-left: 7px solid transparent;
  z-index: 1; }

.plyr__tooltip::before {
  bottom: -6px;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  z-index: 2; }

.plyr button.tab-focus:focus .plyr__tooltip,
.plyr button:hover .plyr__tooltip,
.plyr__tooltip--visible {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0) scale(1);
  transform: translate(-50%, 0) scale(1); }

.plyr button:hover .plyr__tooltip {
  z-index: 3; }

.plyr input[type=range]::-ms-tooltip {
  display: none; }

.plyr input[type=range].tab-focus:focus {
  outline: rgba(52, 63, 74, 0.8) dotted 1px;
  outline-offset: 3px; }

.plyr__progress--seek[type=range]:focus,
.plyr__volume[type=range]:focus {
  outline: 0; }

.plyr__progress {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
  background: rgba(86, 93, 100, 0.2); }

.plyr__progress--buffer[value],
.plyr__progress--played[value],
.plyr__progress--seek[type=range] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: 0 0; }

.plyr__progress--buffer[value]::-webkit-progress-bar,
.plyr__progress--played[value]::-webkit-progress-bar {
  background: 0 0;
  transition: width 0.2s ease; }

.plyr__progress--buffer[value]::-webkit-progress-value,
.plyr__progress--played[value]::-webkit-progress-value {
  background: currentColor;
  transition: width 0.2s ease; }

.plyr__progress--buffer[value]::-moz-progress-bar,
.plyr__progress--played[value]::-moz-progress-bar {
  background: currentColor;
  transition: width 0.2s ease; }

.plyr__progress--played[value] {
  z-index: 2;
  color: #3498DB; }

.plyr__progress--buffer[value] {
  color: rgba(86, 93, 100, 0.25); }

.plyr__progress--seek[type=range] {
  z-index: 4;
  cursor: pointer;
  outline: 0; }

.plyr__progress--seek[type=range]::-webkit-slider-runnable-track {
  background: 0 0;
  border: 0; }

.plyr__progress--seek[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  width: 1px;
  height: 10px; }

.plyr__progress--seek[type=range]::-moz-range-track {
  background: 0 0;
  border: 0; }

.plyr__progress--seek[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background: 0 0;
  border: 0;
  width: 1px;
  height: 10px; }

.plyr__progress--seek[type=range]::-ms-track {
  color: transparent;
  background: 0 0;
  border: 0; }

.plyr__progress--seek[type=range]::-ms-fill-lower,
.plyr__progress--seek[type=range]::-ms-fill-upper {
  background: 0 0;
  border: 0; }

.plyr__progress--seek[type=range]::-ms-thumb {
  background: 0 0;
  border: 0;
  width: 1px;
  height: 10px; }

.plyr__progress--seek[type=range]::-moz-focus-outer {
  border: 0; }

.plyr__progress .plyr__tooltip {
  left: 0; }

.plyr--is-touch .plyr--seek[type=range]::-webkit-slider-thumb {
  width: 40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.plyr--is-touch .plyr--seek[type=range]::-moz-range-thumb {
  width: 40px;
  transform: translateX(-50%); }

.plyr--is-touch .plyr--seek[type=range]::-ms-thumb {
  width: 40px;
  transform: translateX(-50%); }

.plyr--loading .plyr__progress--buffer {
  -webkit-animation: plyr-progress 1s linear infinite;
  animation: plyr-progress 1s linear infinite;
  background-size: 40px 40px;
  background-repeat: repeat-x;
  background-color: rgba(86, 93, 100, 0.25);
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  color: transparent; }

.plyr--playing .plyr__controls [data-plyr=play],
.plyr__controls [data-plyr=pause] {
  display: none; }

.plyr--playing .plyr__controls [data-plyr=pause] {
  display: inline-block; }

.plyr__volume[type=range] {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  margin: 0 10px 0 0;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: none; }

.plyr__volume[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  background: #e6e6e6;
  border: 0;
  border-radius: 3px; }

.plyr__volume[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  height: 12px;
  width: 12px;
  background: #6B7D86;
  border: 0;
  border-radius: 100%;
  transition: background .3s ease;
  cursor: ew-resize; }

.plyr__volume[type=range]::-moz-range-track {
  height: 6px;
  background: #e6e6e6;
  border: 0;
  border-radius: 3px; }

.plyr__volume[type=range]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: #6B7D86;
  border: 0;
  border-radius: 100%;
  transition: background .3s ease;
  cursor: ew-resize; }

.plyr__volume[type=range]::-ms-track {
  height: 6px;
  background: 0 0;
  border-color: transparent;
  border-width: 3px 0;
  color: transparent; }

.plyr__volume[type=range]::-ms-fill-lower,
.plyr__volume[type=range]::-ms-fill-upper {
  height: 6px;
  background: #e6e6e6;
  border: 0;
  border-radius: 3px; }

.plyr__volume[type=range]::-ms-thumb {
  height: 12px;
  width: 12px;
  background: #6B7D86;
  border: 0;
  border-radius: 100%;
  transition: background .3s ease;
  cursor: ew-resize; }

.plyr__volume[type=range]:focus::-webkit-slider-thumb {
  background: #3498DB; }

.plyr__volume[type=range]:focus::-moz-range-thumb {
  background: #3498DB; }

.plyr__volume[type=range]:focus::-ms-thumb {
  background: #3498DB; }

.plyr--is-ios .plyr__volume,
.plyr--is-ios [data-plyr=mute],
.plyr--is-ios.plyr--audio .plyr__controls--right {
  display: none; }

.plyr--is-ios.plyr--audio .plyr__controls--left {
  float: none; }

.plyr--audio .plyr__controls {
  padding-top: 20px; }

.plyr--audio .plyr__progress {
  bottom: auto;
  top: 0;
  background: #D6DADD; }

.plyr--fullscreen-active,
.plyr.plyr--fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;
  background: #000; }

.plyr--fullscreen-active video,
.plyr.plyr--fullscreen video {
  height: 100%; }

.plyr--fullscreen-active .plyr__video-wrapper,
.plyr.plyr--fullscreen .plyr__video-wrapper {
  height: 100%;
  width: 100%; }

.plyr--fullscreen-active .plyr__controls,
.plyr.plyr--fullscreen .plyr__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.plyr--fullscreen-active.plyr--fullscreen--hide-controls.plyr--playing .plyr__controls,
.plyr.plyr--fullscreen.plyr--fullscreen--hide-controls.plyr--playing .plyr__controls {
  -webkit-transform: translateY(100%) translateY(5px);
  transform: translateY(100%) translateY(5px);
  transition: -webkit-transform .3s .2s ease;
  transition: transform .3s .2s ease;
  transition: transform 0.3s 0.2s ease, -webkit-transform 0.3s 0.2s ease; }

.plyr--fullscreen-active.plyr--fullscreen--hide-controls.plyr--playing .plyr__captions,
.plyr.plyr--fullscreen.plyr--fullscreen--hide-controls.plyr--playing .plyr__captions {
  bottom: 5px;
  transition: bottom 0.3s 0.2s ease; }

.plyr--fullscreen-active.plyr--fullscreen--hide-controls.plyr--playing.plyr--hover .plyr__controls,
.plyr.plyr--fullscreen.plyr--fullscreen--hide-controls.plyr--playing.plyr--hover .plyr__controls {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.plyr--fullscreen--hide-controls.plyr--fullscreen-active.plyr--playing.plyr--hover .plyr__captions,
.plyr--fullscreen-active .plyr__captions,
.plyr.plyr--fullscreen .plyr__captions {
  top: auto;
  bottom: 90px; }

@media (min-width: 560px) {
  .plyr--fullscreen--hide-controls.plyr--fullscreen-active.plyr--playing.plyr--hover .plyr__captions,
  .plyr--fullscreen-active .plyr__captions,
  .plyr.plyr--fullscreen .plyr__captions {
    bottom: 60px; } }
.plyr--captions-active .plyr__controls .icon--captions-on,
.plyr--fullscreen-active .icon--exit-fullscreen,
.plyr--muted .plyr__controls .icon--muted {
  display: block; }

.plyr [data-plyr=captions],
.plyr--captions-active .plyr__controls .icon--captions-on + svg,
.plyr--fullscreen-active .icon--exit-fullscreen + svg,
.plyr--muted .plyr__controls .icon--muted + svg {
  display: none; }

.plyr--captions-enabled [data-plyr=captions],
.plyr--fullscreen-enabled [data-plyr=fullscreen] {
  display: inline-block; }

@media all and (max-width: 800px) {
  .video-holder {
    float: none;
    width: 95%;
    margin: 5% auto; } }
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

.container:after {
  content: "";
  display: block;
  clear: both; }

section {
  padding: 100px 20px; }

.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #fff;
  transition: 200ms;
  background: transparent;
  cursor: pointer; }

.btn:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1); }

.btn.yellow {
  color: #fbc93d;
  border: 1px solid #fbc93d; }

.btn.smaller {
  padding: 10px 25px; }

.btn .fa {
  margin-left: 10px; }

.cta {
  background: #fbc93d;
  position: relative;
  overflow: hidden;
  text-align: center; }

.cta:after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  bottom: -40px;
  left: -40px;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(30deg); }

.cta .container {
  position: relative;
  z-index: 10; }

.cta h2 {
  margin-bottom: 40px; }

.contact {
  background: #fbc93d;
  position: relative;
  overflow: hidden;
  text-align: center; }

.contact:after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  bottom: -40px;
  left: -40px;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(30deg); }

.contact .input {
  width: 47%;
  float: left; }

.contact .input:nth-of-type(odd) {
  margin-right: 6%; }

.contact .message {
  display: block;
  clear: both;
  float: none;
  padding-top: 10px; }

.contact .input input {
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  padding: 10px 15px; }

.contact .message textarea {
  display: block;
  width: 100%;
  height: 200px;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  padding: 10px 15px;
  resize: vertical; }

.contact label {
  position: relative;
  z-index: 10; }

.contact label span {
  display: block;
  text-align: left;
  font-size: 14px; }

.contact label span .fa {
  margin-right: 7px; }

.contact .submit {
  display: block;
  text-align: center;
  padding-top: 40px; }

.contact h2 {
  margin-bottom: 40px; }

.pricing {
  text-align: center; }

.pricing > div > div {
  float: left;
  width: 33%;
  margin-top: 60px;
  background: #f6f6f6;
  padding: 40px; }

.pricing > div > div h3 {
  background: #555;
  color: #fff;
  display: block;
  margin: -40px -40px 35px -40px;
  padding: 30px;
  position: relative; }

.pricing > div > div h3 span {
  display: block; }

.pricing > div > div h3 span .fa {
  margin: 0 1px; }

.pricing > div > div .price {
  font-size: 40px; }

.pricing > div > div:nth-of-type(2) {
  width: calc(34% + 20px);
  margin: 40px -10px 0 -10px;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 50; }

.pricing > div > div:nth-of-type(2) h3 {
  background: #fbc93d;
  color: #555;
  display: block; }

.pricing ul {
  padding: 0;
  margin: 27px 0; }

.pricing ul li {
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #eee; }

.pricing ul li:last-child {
  border-bottom: 0; }

footer {
  background: #222;
  color: #ccc;
  padding: 0 20px; }

footer .copyright {
  float: left;
  padding: 15px 0; }

footer .copyright p {
  margin: 0; }

footer .copyright a {
  color: #fff; }

footer .social {
  float: right;
  padding: 15px 0; }

footer .social a {
  margin-left: 10px;
  font-size: 20px;
  color: #ccc; }

footer .social a:hover {
  color: #fff; }

@media (max-width: 800px) {
  section {
    padding: 80px 10px; }

  header,
  footer {
    padding: 0 10px; }

  .splash {
    height: auto;
    padding: 150px 10px 80px 10px;
    text-align: center; }

  .splash .container {
    position: relative;
    top: 0;
    transform: none; }

  .overview > div > div {
    padding: 0 20px; }

  .overview .email-us button {
    border: 1px solid black;
    color: black; }

  .email-form iframe {
    display: none; }

  .feature img {
    right: 65%; }

  .feature:nth-of-type(even) img {
    left: 65%; }

  .feature > div > div {
    width: 55%; }

  header nav ul li a {
    padding: 15px; }

  .pricing > div > div {
    width: 100% !important;
    float: none;
    margin: 0 0 20px 0 !important;
    box-shadow: none !important; }

  .pricing > div > div h3 {
    background: #555 !important;
    color: #fff !important; }

  .pricing h2 {
    margin-bottom: 40px; } }
@media (max-width: 600px) {
  section {
    padding: 40px 10px; }

  .splash {
    padding: 100px 10px 40px 10px; }

  .overview > div > div {
    float: none;
    width: 100%;
    margin-bottom: 40px;
    padding: 0; }

  .overview > div > div:last-child {
    margin-bottom: 0; }

  .overview p {
    overflow: hidden; }

  .feature img {
    display: none; }

  .feature > div > div {
    width: 100%;
    float: none; }

  header nav {
    float: none;
    position: fixed;
    top: 56px;
    left: -300px;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    background: #333;
    transition: 200ms; }

  header nav.visible {
    left: 0px; }

  header nav ul li {
    display: block;
    float: none;
    width: 100%; }

  header nav ul li a {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

  header .toggle-menu {
    display: block;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 28px; }

  footer {
    text-align: center; }

  footer .copyright,
  footer .social {
    float: none; }

  footer .social {
    padding-top: 0; }

  .contact .input {
    display: block;
    width: 100%;
    float: none; }

  .contact .input:nth-of-type(odd) {
    margin-right: 0; }

  .contact label {
    padding-top: 10px; }

  .contact label:first-of-type {
    padding-top: 0; } }

/*# sourceMappingURL=style.css.map */
