@import "partials/base";
@import "partials/header";
@import "partials/splash";
@import "partials/contact-us";
@import "partials/about-section";






.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

section {
  padding: 100px 20px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #fff;
  transition: 200ms;
  background: transparent;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
}

.btn.yellow {
  color: #fbc93d;
  border: 1px solid #fbc93d;
}

.btn.smaller {
  padding: 10px 25px;
}

.btn .fa {
  margin-left: 10px;
}


.cta {
  background: #fbc93d;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.cta:after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  bottom: -40px;
  left: -40px;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(30deg);
}

.cta .container {
  position: relative;
  z-index: 10;
}

.cta h2 {
  margin-bottom: 40px;
}

.contact {
  background: #fbc93d;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.contact:after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  bottom: -40px;
  left: -40px;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(30deg);
}

.contact .input {
  width: 47%;
  float: left;
}

.contact .input:nth-of-type(odd) {
  margin-right: 6%;
}

.contact .message {
  display: block;
  clear: both;
  float: none;
  padding-top: 10px;
}

.contact .input input {
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  padding: 10px 15px;
}

.contact .message textarea {
  display: block;
  width: 100%;
  height: 200px;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  padding: 10px 15px;
  resize: vertical;
}

.contact label {
  position: relative;
  z-index: 10;
}

.contact label span {
  display: block;
  text-align: left;
  font-size: 14px;
}

.contact label span .fa {
  margin-right: 7px;
}

.contact .submit {
  display: block;
  text-align: center;
  padding-top: 40px;
}

.contact h2 {
  margin-bottom: 40px;
}

.pricing {
  text-align: center;
}

.pricing > div > div {
  float: left;
  width: 33%;
  margin-top: 60px;
  background: #f6f6f6;
  padding: 40px;
}

.pricing > div > div h3 {
  background: #555;
  color: #fff;
  display: block;
  margin: -40px -40px 35px -40px;
  padding: 30px;
  position: relative;
}

.pricing > div > div h3 span {
  display: block;
}

.pricing > div > div h3 span .fa {
  margin: 0 1px;
}

.pricing > div > div .price {
  font-size: 40px;
}

.pricing > div > div:nth-of-type(2) {
  width: calc(34% + 20px);
  margin: 40px -10px 0 -10px;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 50;
}

.pricing > div > div:nth-of-type(2) h3 {
  background: #fbc93d;
  color: #555;
  display: block;
}

.pricing ul {
  padding: 0;
  margin: 27px 0;
}

.pricing ul li {
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}

.pricing ul li:last-child {
  border-bottom: 0;
}

footer {
  background: #222;
  color: #ccc;
  padding: 0 20px;
}

footer .copyright {
  float: left;
  padding: 15px 0;
}

footer .copyright p {
  margin: 0;
}

footer .copyright a {
  color: #fff;
}

footer .social {
  float: right;
  padding: 15px 0;
}

footer .social a {
  margin-left: 10px;
  font-size: 20px;
  color: #ccc;
}

footer .social a:hover {
  color: #fff;
}

@media (max-width: 800px) {
  section {
    padding: 80px 10px;
  }
  header,
  footer {
    padding: 0 10px;
  }
  .splash {
    height: auto;
    padding: 150px 10px 80px 10px;
    text-align: center;
  }
  .splash .container {
    position: relative;
    top: 0;
    transform: none;
  }
  .overview > div > div {
    padding: 0 20px;
  }
  .overview .email-us button {
    border: 1px solid black;
    color: black;
  }
  .email-form iframe {
    display: none;
  }
  .feature img {
    right: 65%;
  }
  .feature:nth-of-type(even) img {
    left: 65%;
  }
  .feature > div > div {
    width: 55%;
  }
  header nav ul li a {
    padding: 15px;
  }
  .pricing > div > div {
    width: 100% !important;
    float: none;
    margin: 0 0 20px 0 !important;
    box-shadow: none !important;
  }
  .pricing > div > div h3 {
    background: #555 !important;
    color: #fff !important;
  }
  .pricing h2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 40px 10px;
  }
  .splash {
    padding: 100px 10px 40px 10px;
  }
  .overview > div > div {
    float: none;
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
  .overview > div > div:last-child {
    margin-bottom: 0;
  }
  .overview p {
    overflow: hidden;
  }
  .feature img {
    display: none;
  }
  .feature > div > div {
    width: 100%;
    float: none;
  }
  header nav {
    float: none;
    position: fixed;
    top: 56px;
    left: -300px;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    background: #333;
    transition: 200ms;
  }
  header nav.visible {
    left: 0px;
  }
  header nav ul li {
    display: block;
    float: none;
    width: 100%;
  }
  header nav ul li a {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  header .toggle-menu {
    display: block;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 28px;
  }
  footer {
    text-align: center;
  }
  footer .copyright,
  footer .social {
    float: none;
  }
  footer .social {
    padding-top: 0;
  }
  .contact .input {
    display: block;
    width: 100%;
    float: none;
  }
  .contact .input:nth-of-type(odd) {
    margin-right: 0;
  }
  .contact label {
    padding-top: 10px;
  }
  .contact label:first-of-type {
    padding-top: 0;
  }
}
